<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="utf-8">
        <title>Juhi Pushkar Wedding Page</title>
    </head>
    <body>
        <h1>Hi, this is the django guitar picture!</h1>
        <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
        <img src="{% static "images/djangoguitar.jpg" %}" alt="Uh Oh! not able to load a image">
        <h1>And here are your user records:</h1>
        <div class="djangotwo">
            {% if access_records %}
                <table>
                    <thead>
                        <th> Site Name </th>
                        <th> Date Access </th>
                    </thead>
                    {% for acc in access_records %}
                    <tr>
                        <td>{{ acc.name }}</td>
                        <td>{{ acc.date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No access record found!</p>
            {% endif %}
        </div>
    </body>
</html>